<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 header-wrapper">
        <!-- Logo -->
        <div class="header-logo">
          <img class="logo" src="https://placehold.it/300x70">
        </div>
        <!-- Search -->
        <input type="text" class="search" name="search" placeholder="Need to find a task?">
        <!-- Nav -->
        <nav>
          <a href="#">
            <i class="material-icons">&#xE147;</i>
          </a>
          <a href="#">
            <i class="material-icons">&#xE8A3;</i>
          </a>
          <a href="#">
            <i class="material-icons">&#xE853;</i>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
